<!DOCTYPE html>
<html lang="en">
<head>
    <title>Orders-Shipping Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
     
    <style>
        body {
            font-family: Arial;
            background-color: aquamarine;
        
        }
      
    </style>
</head>

<body onload="loadData();">
    <h1 style="text-align: center;font-weight: bold;color: #f1f1f1;">Orders-Shipping Company</h1>
 
        <h3 style="color: #f1f1f1;text-align: center;">Danh sách thông tin Orders</h3>
        <br>

        <table  class="table table-dark" style="color: #f1f1f1;background-color: #0b0000;">
            <thead>
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">firstName</th>
                    <th style="text-align: center;">lastName</th>
                    <th style="text-align: center;">email</th>
                    <th style="text-align: center;">department</th>
                </tr>
            </thead>
            <tbody id="tableOrders">
              

            </tbody>
        </table>
        
      
    </div>
    <script>
       function loadData(){
        let url = 'https://studentmphapp.herokuapp.com/students/';
    $.ajax({
        url: url,
        type: "Get",
        dataType: "json",
        async: true,
        beforeSend: function (xhr) {
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
        },
        success: function (data) {
           // var id;
            var template = '';
           for (let i = 0; i < data.length; i++) {
              template = template + '  <tr>'+
                    '<td style="text-align: center;">'+data[i].id+'</td>'+
                    '<td style="text-align: center;">'+data[i].firstname+'</td>'+
                    '<td style="text-align: center;">'+data[i].lastname+'</td>'+
                    '<td style="text-align: center;">'+data[i].email+'</td>'+
                    '<td style="text-align: center;">'+data[i].departmentId+'</td>'+
               '</tr>';
                
            }
             document.getElementById("tableOrders").innerHTML = template;
          
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log("Error: " + textStatus + " - " + errorThrown);
            alert("Error: " + textStatus + " - " + errorThrown);
        }
    }); 
       }
    </script>
</body>

</html>
